* text=auto
*.py text eol=lf
*.sh text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.ps1 text eol=crlf
*.cmd text eol=crlf
*.wav binary
*.stl binary
*.png binary
*.gif binary
web/vendor/* text eol=lf
enclosure/**/*.json text eol=lf
enclosure/**/*.md text eol=lf
enclosure/**/*.txt text eol=lf
